body 
{
	background-color: #EFE9E9;
}

h1
{
	color: #535050;
	font-family: Arial, Helvetica, sans-serif;
}

h2
{
	color: #049008;
	font-family: "Times New Roman", Times, serif;
}

p
{
	color: #2443C0;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}